body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

$transparentDark: rgba(1, 1, 1, 0.5);
$navbar: rgb(5, 96, 199);
$accents: rgb(245, 8, 87);
$background: rgb(245, 243, 240);
$helpText: rgb(4, 97, 4);

@mixin line2 {
    background-color: $accents;
    height: 5px;
    width: 25%;
}

@mixin line1 {
    background-color: $accents;
        height: 3px;
        width: 95%;
        margin-bottom: 10px;
}

@mixin helpText {
    color: $helpText;
    font-style: italic;
    font-weight: 600;
}

.headerContainer {
    
    .carousel {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .transparentDark {
        background-color: $transparentDark;
        color: white;
        width: 100%;
        height: 60vh;
        
        .textInDark {
            
            h1 {
                font-family: 'Buenard', serif;
                font-weight: bolder;
                text-shadow: 0 0 3px #FFFFFF, 2px 2px 2px rgba(28,110,164,0);
            }

            p {
                font-weight: 400;
            }
        }
    }

    .navbar {
        background-color: $navbar;
        font-weight: 800;
        
    }
  
}

.test {
    height: 100px;
    width: 100px;
    background-color: green;
}
    
.home {
    background-color: $background; 
    color: black;
    //width: 100%;
    //display: none;
    
    .homeRow1 {
        width: 95%;

        h2 {
            //font-size: 2rem;
            font-weight: 600;
            width: 95%
        }

        .line1 {
            @include line1;
        }
    
        .line2 {
            @include line2;
        }
    
        p {
            font-size: 1.5rem;
        }
    }

    .homeRow2 {
        width: 95%;

        img {
            width: 20vw;
        }

        h5 {
            font-weight: 600;
        }

        .line1 {
            @include line1;
        }
    
        .line2 {
            @include line2;
        }
    }
}

.aboutUsOurHorses {
    background-color: $background; 
    color: black;
    display: none;

    .ourHorsesRow1 {
        width: 95%;

        h4 {
            @include helpText;
        }
    }

    .rowHorses {
        width: 95%;

        img {
            width: 35vw; 
        }

        ul {
            list-style-type: square;
        }

        .line1 {
            @include line1;
        }
        .line2 {
            @include line2;
        }
          
    }
}

.footeris {
    /*background-image: url('https://media.gettyimages.com/photos/horse-racing-track-picture-id92356486');
    filter: blur(0px);*/
    background-color: $navbar;
    color: white;
    .rowFooter {
        width: 95%;

        h5 {
            font-weight: 800;
        }

        .line1 {
            @include line1;
        }
        .line2 {
            @include line2;
        }

        .aspecial {
            color: white;
            &:hover {
                color: $accents;
            }
        }
    }   
}
